<!-- Main Content -->
<div class="container">
	<div class="row">
		<div class="col-lg-8 col-md-10 mx-auto">
			{% for post in postslist | reverse %}
				<div class="post-preview">
					<a href="{{ post.url | url }}">
						<h2 class="post-title">
							{{post.data.title}}
						</h2>
						<h3 class="post-subtitle">
							{{post.data.subtitle}}
						</h3>
					</a>
					<p class="post-meta">Posted by
                    <a href='/authors/{{ post.data.author | slug }}'>{{post.data.author}}</a>
                    on {{ post.date | readableDate }}</p>
				</div>
				<hr>
			{% endfor %}


		</div>
	</div>
</div>