---
layout: layouts/base.njk
title: About Us
subtitle: This is what I do
heroImage: /static/img/about-bg.jpg
permalink: /about/
---
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">
      <h3>Hi there, welcome to my blog! </h3>
      <p>Basically, I'm a web developer who wants to make money from their own code. This
        blog is where I'll be dumping all of my different machinations about not just coding, but also my hobbies or whatever else I want. I don't care if you want a consistent theme, I'm in charge here!</p>
      <a href="#">
        <img class="img-fluid" src="../static/img/adventure.jpg" alt="">
      </a>
      <span class="caption text-muted">To go places and do things that have never been done before – that’s what living
        is all about.</span>
      <p>I'll also link some of my other projects here, as appropriate. If you like my blog, the best thing you can do to help is to share it! Increasing traffic is the single best way to bolster my online presence. Additionally, you can check out my other projects.</p>
      <p>Thanks for coming!</p>

    </div>
  </div>
</div>

<hr>