---
layout: layouts/base.njk
section: home
---

<header class="masthead" style="background-image: url('static/img/jsHome.jpg')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Semicolon Soup</h1>
                    <span class="subheading">Coding and other stuff</span>
                </div>
            </div>
        </div>
    </div>
</header>
