---
layout: layouts/base.njk
section: post
---

<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        {{ layoutContent | safe }}
        {% if tags %}
          <p>
            {% for tag in tags %}
              {%- if tag != "post" -%}
                {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
              {%- endif -%}
            {% endfor %}
          </p>
        {% endif %}
        <a href="{{ '/' | url }}">← Blog index</a>
      </div>
    </div>
  </div>
</article>
